body{

  background: #d1d5db;
}
h1{
  margin-left: 6in;
  width: 50%;
  color: red;
  padding: 10px;
}
#question{
  margin-left: 4in;
  border-radius: 15px;
  width: 50%;
  border: 3px solid #9ca3af;
  padding: 10px;
}
#search{
  margin-top:10px;
  margin-left: 7.5in;
  border-radius: 15px;
  border: 1px solid orangered;
  padding: 5px;
}